<!doctype html>
<html lang="fr">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>{{ title or "Zohir Location Auto" }}</title>

  <!-- Global CSS -->
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <div class="container">
    {% if title %}
      <div class="small" style="margin: 6px 0 14px 0;">{{ title }}</div>
    {% endif %}
    {% block content %}{% endblock %}
  </div>
</body>
</html>

